#### Exercício 1

Escreva um programa que peça ao usuário para digitar seu nome e, em seguida, imprima uma mensagem de boas-vindas com o nome fornecido.

In [1]:
nome = input("Digite o seu nome: ")
print(f"Seja Bem-vindo {nome.capitalize()}!!")

Digite o seu nome:  carlos

Seja Bem-vindo Carlos!!

#### Exercício 2

Crie duas variáveis, numero1 e numero2, e atribua a elas valores inteiros. Calcule a soma, subtração, multiplicação e divisão dessas variáveis e imprima os resultados.

In [7]:
#Entrada de dados
print(f"Digite dois numeros inteiros: ")
number_first = input("Primeiro numero: ")
number_first_int = int(number_first)
number_second = input("Segundo numero: ")
number_second_int = int(number_second)

#saida de dados
print(f"A soma de {number_first} + {number_second} = {number_first_int + number_second_int}")
print(f"A subtração de {number_first} - {number_second} = {number_first_int - number_second_int}")
print(f"A multiplicação de {number_first} * {number_second} = {number_first_int * number_second_int}")
print(f"A divisão de {number_first} / {number_second} = {(number_first_int / number_second_int):.2f}")

Digite dois numeros inteiros:

Primeiro numero:  5
Segundo numero:  3

A soma de 5 + 3 = 8
A subtração de 5 - 3 = 2
A multiplicação de 5 * 3 = 15
A divisão de 5 / 3 = 1.67

#### Exercício 3 

Qual é a principal diferença entre uma variável de escopo local e uma de escopo global?

Resposta: um variável so atua dentro de um bloco, escopo,  espercifico de um codigo, em quanto uma variavel global pode atua em qualquer 
bloco de codigo quando assim for requisitada.

#### Exercício 4

Crie uma variável chamada saldo com o valor 500.50 (float). Em seguida, crie uma variável saque com o valor 200.25 (float). Subtraia o saque do saldo e imprima o saldo final formatado para duas casas decimais.

In [8]:
valor_saldo = 500.50
valor_saque = 200.25
valor_final = valor_saldo - valor_saque
print(f"Saldo final é R$ {valor_final:.2f}")

Saldo final é R$ 300.25

#### Exercício 5

Declare uma variável booleana chamada **tem_carteira_de_motorista** e atribua a ela o valor True. Imprima uma mensagem que diga "Pode dirigir" se a variável for verdadeira e "Não pode dirigir" caso contrário.

In [16]:
tem_carteir_de_motorista = False
print(f"Pode dirigir?")
if(tem_carteir_de_motorista == True):
    print("SIM")
else:
    print("NÃO")

Pode dirigir?
NÃO

#### Exercício 6

Crie duas variáveis: 

- idade_ana = 25
- idade_beto = 30

Use operadores de comparação para verificar se a idade de Ana é menor que a de Beto e imprima o resultado booleano.

In [18]:
#Variáveis
idade_ana = 25
idade_beto = 30

print(f"{idade_ana} é maior ou igual a {idade_beto}: {idade_ana >= idade_beto}")
print(f"{idade_ana} é menor ou igual a {idade_beto}: {idade_ana <= idade_beto}")
print(f"{idade_ana} é igual a {idade_beto}: {idade_ana == idade_beto}")

25 é maior ou igual a 30: False
25 é menor ou igual a 30: True
25 é igual a 30: False

#### Exercício 7

Receba um número inteiro do usuário e use o operador de módulo (%) para verificar se o número é par ou ímpar. Imprima o resultado.

Obs: Não estudamos ainda os condicionais, mas pesquise se necessário e tente resolver.

In [22]:
print("O número é par ou impar")
number = float(input("Digite um número: "))
if(number%2 == 0):
    print("PAR")
else:
    print("ÍMPAR")

O número é par ou impar

Digite um número:  4.1

ÍMPAR

#### Exercício 8

Crie duas variáveis booleanas: 

- chovendo = True
- guarda_chuva = False

Use operadores lógicos para verificar se uma pessoa vai se molhar (se está chovendo E ela não tem guarda-chuva).

In [103]:
chovendo = True
guarda_chuva = False
print("A pessoa vai se molhar?")
if(chovendo and guarda_chuva) == True:
    print("NÃO")
elif(not(chovendo) and guarda_chuva) == True:
    print("NÃO")
elif(not(chovendo) and not(guarda_chuva)) == True:
    print("NÃO")
else:
    print("SIM")

A pessoa vai se molhar?
SIM

#### Exercício 9

Calcule a potência de 2 elevado a 10 e imprima o resultado.

In [47]:
print(f" Potencia: 2^10 = {2**10}")

 Potencia: 2^10 = 1024

#### Exercício 10

Converta a string "2026" para um tipo inteiro e armazene-a em uma variável chamada ano. Em seguida, some 1 a essa variável e imprima o novo ano.

In [49]:
ano_str = "2026"
ano_int = int(ano_str)
ano_novo = ano_int + 1
print(f"O ano {ano_str} + 1 = {ano_novo}")

O ano 2026 + 1 = 2027

#### Exercício 11

Crie a string:

frase = "   Python é uma linguagem poderosa e estou aprendendo com a DSA   ". 

Remova os espaços em branco do início e do fim da string e imprima a nova string.

In [55]:
frase = " Python é uma linguagem poderosa e estou aprendendo com a DSA "
frase_sem_epaco = frase.strip()
print(f"Frase com espaço: {frase}")
print(f"Frase sem espaço: {frase_sem_epaco}")

Frase com espaço:  Python é uma linguagem poderosa e estou aprendendo com a DSA
Frase sem espaço: Python é uma linguagem poderosa e estou aprendendo com a DSA

#### Exercício 12

Na string do exercício anterior (já sem os espaços), converta toda a frase para letras maiúsculas.

In [56]:
print(f"Frase em letras maiúsculas: {frase_sem_epaco.upper()}")

Frase em letras maiúsculas: PYTHON É UMA LINGUAGEM PODEROSA E ESTOU APRENDENDO COM A DSA

#### Exercício 13

Ainda usando a mesma string, substitua a palavra "poderosa" por "incrível".

In [57]:
print(f"Frase em letras maiúsculas: {frase_sem_epaco.replace("poderosa", "incrível")}")

Frase em letras maiúsculas: Python é uma linguagem incrível e estou aprendendo com a DSA

#### Exercício 14

Verifique e imprima o número total de caracteres na string frase (após as modificações dos exercícios anteriores).

In [59]:
print(f"O numero de caracters da frase {frase_sem_epaco} é igual a {len(frase_sem_epaco)}")

O numero de caracters da frase Python é uma linguagem poderosa e estou aprendendo com a DSA é igual a 60

#### Exercício 15

Use fatiamento (slicing) para extrair e imprimir apenas a palavra "Python" da string frase.

In [61]:
print(f"Frase em letras maiúsculas: {frase_sem_epaco[0:5]}")

Frase em letras maiúsculas: Pytho

#### Exercício 16

Crie uma lista chamada compras com os seguintes itens: "arroz", "feijão", "macarrão", "carne". Imprima a lista.

In [62]:
lista_de_compras = ["arroz", "feijão", "macarrão", "carne"]

In [63]:
print(lista_de_compras)

['arroz', 'feijão', 'macarrão', 'carne']

#### Exercício 17

Adicione o item "leite" ao final da lista compras e imprima a lista atualizada.

In [64]:
lista_de_compras.append("leite")

In [65]:
print(lista_de_compras)

['arroz', 'feijão', 'macarrão', 'carne', 'leite']

#### Exercício 18

Acesse e imprima o segundo item da lista compras.

In [66]:
print(lista_de_compras[1])

feijão

#### Exercício 19

Remova o item "macarrão" da lista compras e imprima a lista final.

In [71]:
lista_de_compras.remove('macarrão')

In [72]:
print(lista_de_compras)

['arroz', 'feijão', 'carne', 'leite']

#### Exercício 20

Crie uma lista de números de 1 a 5. Use uma função para calcular e imprimir o tamanho (número de elementos) dessa lista.

In [73]:
lista_de_numeros = [1,2,3,4,5]

In [74]:
print(len(lista_de_numeros))

5

#### Exercício 21

Crie uma tupla chamada meses com os três primeiros meses do ano: "Janeiro", "Fevereiro", "Março".

In [75]:
meses_do_ano = ("Janeiro", "Fevereiro", "Março")

In [76]:
print(meses_do_ano)

('Janeiro', 'Fevereiro', 'Março')

#### Exercício 22

Tente adicionar o mês "Abril" à tupla meses. O que acontece? Explique o resultado.

In [77]:
lista_meses = list(meses_do_ano)

In [78]:
lista_meses.append("Abril")

In [79]:
lista_nova_meses = tuple(lista_meses)

In [80]:
print(lista_nova_meses)

('Janeiro', 'Fevereiro', 'Março', 'Abril')

#### Exercício 23

Acesse e imprima o primeiro mês da tupla meses.

In [81]:
print(lista_nova_meses[0])

Janeiro

#### Exercício 24

Crie um dicionário chamado filme com as seguintes chaves e valores: 

- titulo = "O Poderoso Chefão",
- ano = 1972
- diretor = "Francis Ford Coppola"

In [84]:
filme = {
    "titulo":"O Podereso Chefão",
    "ano": 1972,
    "diretor": "Francis Ford Coppola"}

In [88]:
print(f"Dicionário do: {filme}")

Dicionário do: {'titulo': 'O Podereso Chefão', 'ano': 1972, 'diretor': 'Francis Ford Coppola'}

#### Exercício 25

Acesse e imprima o ano de lançamento do filme a partir do dicionário.

In [89]:
print(f"Ano de lançamento: {filme['ano']}")

Ano de lançamento: 1972

#### Exercício 26

Adicione uma nova chave genero com o valor "Drama" ao dicionário filme e imprima o dicionário completo.

In [90]:
filme["genero"] = "Drama"

In [91]:
print(f"Dicionário do: {filme}")

Dicionário do: {'titulo': 'O Podereso Chefão', 'ano': 1972, 'diretor': 'Francis Ford Coppola', 'genero': 'Drama'}

#### Exercício 27

Modifique o valor da chave ano para 1973 e imprima o dicionário atualizado.

In [92]:
filme["ano"] = 1973

In [93]:
print(f"Dicionário do: {filme}")

Dicionário do: {'titulo': 'O Podereso Chefão', 'ano': 1973, 'diretor': 'Francis Ford Coppola', 'genero': 'Drama'}

#### Exercício 28

Crie uma lista com os seguintes números: [1, 2, 2, 3, 4, 4, 5, 1]. Use um conjunto para remover os números duplicados e imprima o resultado.

In [94]:
lista_de_numeros = [1,2,2,3,4,4,5,1]

In [96]:
conjunto_de_numeros = set(lista_de_numeros)

In [97]:
print(f"Conjunto de numeros: {conjunto_de_numeros}")

Conjunto de numeros: {1, 2, 3, 4, 5}

Crie dois conjuntos: 

- set_a = {1, 2, 3, 4}
- set_b = {3, 4, 5, 6}

Encontre e imprima a interseção entre os dois conjuntos (os elementos que estão em ambos).

In [98]:
set_a = {1,2,3,4}
set_b = {3,4,5,6}

In [99]:
conjunto_intersecao = set_a.intersection(set_b)

In [100]:
print(f"A interseção entre {set_a} e {set_b} é o subconjunto {conjunto_intersecao}")

A interseção entre {1, 2, 3, 4} e {3, 4, 5, 6} é o subconjunto {3, 4}

#### Exercício 30

Escreva um programa que peça ao usuário para digitar sua altura em metros (ex: 1.75) e seu peso em quilogramas (ex: 68.5). Calcule o Índice de Massa Corporal (IMC) usando a fórmula IMC = peso / (altura * altura) e imprima o resultado formatado com duas casas decimais.

In [102]:
print("Calculo IMC")
altura = float(input("Digite a altura: "))
peso = float(input("Digite o peso: "))
imc = peso/(altura**2)
print(f"\nCom a {altura}m e o peso {peso}Kg: IMC = {imc:.2f}")

Calculo IMC

Digite a altura:  1.75
Digite o peso:  68.5

Com a 1.75m e o peso 68.5Kg: IMC = 22.37